@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #87CEEB;
  --accent: #FFD700;
  --text: #2F4F4F;
  --background: #292929;
  --decorative : #D3D3D3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* NewYearAudioPlayer.css */
.audio-player-container {
  text-align: center;
  background: linear-gradient(to bottom, var(--primary), var(--decorative));
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.custom-audio-player {
  width: 100%;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
}
