@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #87CEEB;
  --accent: #FFD700;
  --text: #2F4F4F;
  --background: #292929;
  --decorative : #D3D3D3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rhap_container {
  background-color: var(--background);
}

.rhap_time {
  display: none;
}

.rhap_main-controls {
  width: 60px !important;
  height: 60px !important;
}

.rhap_button-clear {
  width: 60px !important;
  height: 60px !important;
}

.iconify,
.iconify--mdi {
  width: 60px !important;
  height: 60px !important;
}
