@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #87CEEB;
  --accent: #FFD700;
  --text: #2F4F4F;
  --background: #292929;
  --backgroundMain: #5f5f5f;
  --decorative: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--backgroundMain);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rhap_container {
  height: 100% !important;
  max-height: 400px;
  background: rgba(255, 255, 255, 0.24) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(6.2px) !important;
  -webkit-backdrop-filter: blur(6.2px) !important;
}

.rhap_main {
  flex-direction: column-reverse !important;
}

.rhap_time {
  display: none;
}

.rhap_main-controls {
  width: 120px !important;
  height: 120px !important;
}

.rhap_button-clear {
  margin: 0 !important;
  width: 120px !important;
  height: 120px !important;

  path {
    color: var(--decorative);
  }
}

.iconify,
.iconify--mdi {
  width: 120px !important;
  height: 120px !important;
}

.rhap_progress-bar {
  position: relative;
}

.rhap_progress-indicator {
  background-color: var(--decorative) !important;
  position: absolute !important;
  background-color: var(--primary) !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  z-index: 1000 !important;
}

.rhap_progress-filled {
  background-color: var(--primary) !important;
}